.image_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image_container img {
    width: 400px;
    height: 400px;
    animation-name: kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes kf {
    0%   { -webkit-transform:rotate(50deg); margin-top: 0% margin-left: 0%; margin-right: 10%}
    25%  { -webkit-transform:rotate(-50deg); margin-top: 10% margin-left: 10%; margin-right: 0%}
    50%  { -webkit-transform:rotate(50deg);  margin-top: 20% margin-left: 0%; margin-right: 10%}
    75%  { -webkit-transform:rotate(-50deg); margin-top: 10%; margin-left: 10%; margin-right: 0%}
    100% { -webkit-transform:rotate(50deg); margin-top: 0%; margin-left: 0%; margin-right: 10%}
}
​
